[submodule "runtime"]
	path = runtime
	url = https://gitee.com/genesis-quant/arena-runtime.git
[submodule "backend"]
	path = backend
	url = https://gitee.com/genesis-quant/arena-backend.git
[submodule "frontend"]
	path = frontend
	url = https://gitee.com/genesis-quant/arena-frontend.git
